@font-face{
	font-family:"user";
	src: url('fonts/Lobster-Regular.ttf');
}

@font-face{
	font-family: "net";
	src: url('fonts/Pacifico-Regular.ttf');
}
@font-face{
	font-family: "custom";
	src: url('fonts/ViaodaLibre-Regular.ttf');
}